<div class="panel panel-default">
    <div class="panel-heading">
        {{raceDetails.event.name}} - {{raceDetails.name}} - {{raceDetails.market_type}} - {{raceDetails.start_time | date: 'MMM d, y h:mma'}} 
    </div>
    <div class="panel-body">
        <table class="table table-striped">
            <thead> 
                <tr>
                    <th>Runner</th> 
                    <th>Starting price</th> 
                    <th>Result</th> 
                </tr>
            </thead>
            <tbody>
            <tr ng-repeat="marketRunner in raceDetails.market_runners">
                <td>{{marketRunner.runner.name}}</td>
                <td>{{marketRunner.actual_sp | number : 2}}</td>
                <td>{{marketRunner.status}}</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
