<div class="row">
    <div class="col-md-12">
        {{raceDetails.event.name}} - {{raceDetails.name}} - {{raceDetails.market_type}} - {{raceDetails.start_time | date}} 
    </div>
</div>
<div class="row">
    <div class="col-md-4">
       Runner 
    </div>
    <div class="col-md-4">
       Starting Price 
    </div>
    <div class="col-md-4">
       Result 
    </div>
</div>
<div class="row" ng-repeat="marketRunner in raceDetails.market_runners">
    <div class="col-md-4">
        {{marketRunner.runner.name}}
    </div>
    <div class="col-md-4">
        {{marketRunner.actual_sp | number : 2}}
    </div>
    <div class="col-md-4">
        {{marketRunner.status}}
    </div>
</div>
