
<div class="row" ng-hide="summary == null">
  <div class="col-md-12">
    <div class="row">
      <div class="col-md-12">
        <h1 class="page-header">Results</h1>
      </div>
    </div>
    <div class="row text-center">
      <div class="col-lg-3 col-md-6">
        <div class="panel" ng-class="{'panel-danger': summary.profitLoss &lt; 0, 'panel-success': summary.profitLoss &gt; 0}">
          <div class="panel-heading">
            Total {{summary.profitLoss > 0 ? 'Profit' : 'Loss'}}
          </div>
          <div class='panel-body'>
            <div class='row'>
              <div class="col-xs-12">
                <strong>{{summary.profitLoss | currency}}</strong>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6">
        <div class="panel" ng-class="{'panel-danger': summary.highestAmount &lt; 0, 'panel-success': summary.highestAmount &gt; 0}">
          <div class="panel-heading">
            Highest Amount
          </div>
          <div class='panel-body'>
            <div class='row'>
              <div class="col-xs-12">
                <strong>{{summary.highestAmount | currency}}</strong>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6">
        <div class="panel" ng-class="{'panel-danger': summary.lowestAmount &lt; 0, 'panel-success': summary.lowestAmount &gt; 0}">
          <div class="panel-heading">
            Lowest Amount
          </div>
          <div class='panel-body'>
            <div class='row'>
              <div class="col-xs-12">
                <strong>{{summary.lowestAmount | currency}}</strong>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6">
        <div class="panel panel-danger">
          <div class="panel-heading">
            Max Losing Streak
          </div>
          <div class='panel-body'>
            <div class='row'>
              <div class="col-xs-12">
                <strong>{{summary.maxLosingStreak}}</strong>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row text-center">
      <div class="col-lg-3 col-md-6">
        <div class="panel panel-info">
          <div class="panel-heading">
            Matched Races 
          </div>
          <div class='panel-body'>
            <div class='row'>
              <div class="col-xs-12">
                <strong>{{summary.counts.output}}</strong>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6">
        <div class="panel panel-info">
          <div class="panel-heading">
            Winning races
          </div>
          <div class='panel-body'>
            <div class='row'>
              <div class="col-xs-12">
                <strong>{{summary.winningRaces}}</strong>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6">
        <div class="panel panel-info">
          <div class="panel-heading">
            Winning Percentage
          </div>
          <div class='panel-body'>
            <div class='row'>
              <div class="col-xs-12">
                <strong>{{summary.winningPercentage | number: 2}} %</strong>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6">
        <div class="panel panel-info">
          <div class="panel-heading">
            Matched Runners
          </div>
          <div class='panel-body'>
            <div class='row'>
              <div class="col-xs-12">
                <strong>{{summary.counts.emit}}</strong>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
